.header {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: blueviolet;
  font-size: 30px;
  gap: 15px;
  border: 2px solid greenyellow;
}

nav a {
  color: aqua;
  margin-left: 15px;
  font-size: 20px;

}