.ooppss {
  text-align: center;
}

.error {
  text-align: center;

  text-align: center;
  /* Horizontal centering */
  height: 100px;
  /* Adjust the height to match your container's height */
  line-height: 100px;
  /* Should be equal to the container's height */

}